<%- include("./components/header.ejs") -%>
<%- include("./components/cmsnav.ejs") -%>

<div class="container">
    <div class="header-text">
     <h3> Dashboard </h3>
    </div>
    <div class="inside-wrapper">
        <!-- settings -->
        <div class="dashboard-parts">
            <h4><i class="meterial-icons">settings</i></h4>
         
            <div class="dashboard-items">
                <ul>
                    <li>Posts</li>
                    <li>Users</li>
                </ul>
            </div>
        </div>
        <!-- statistics -->
        <div class="dashboard-statistics">
            
            <div class="user">
                <h3>Users</h3>
            </div>
            <div class="posts">Posts</div>
            
        </div>
        <!-- Information  -->
        <div class="dashboard-info">
            <div class="storage">
                <h5>storage</h5>
                <p>this is the storage part</p>
            </div>
            <div class="banwidth">
                <h5>banwidth</h5>
                <p>this is the banwidth part</p>
            </div>
            
        </div>
        <!-- Latest users -->
        <div class="dashboard-latest-users">
            
        </div>
        
    </div>
    
</div>


<%- include("./components/footer.ejs") -%>